.targetStyle {
  background-color: var(--cl11);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.figIconStyle {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  border-radius: 50%;
  background-color: var(--cl8);
  transition: all 0.5s ease;
}

@media screen and (min-width: 992px) {
  .figIconStyle:hover {
    transform: scale(1.1);
  }

  .targetStyle:hover {
    transform: translateY(-2rem);
    background-color: transparent;

    backdrop-filter: blur(10px);
  }

  .iconsDev {
    opacity: 0;
    height: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
  }

  .targetStyle:hover > .iconsDev {
    opacity: 1;
    transform: translateY(0px);
    height: auto;
  }
}
