.wrapperHero {
  position: relative;
  z-index: 0;
}

.heroContent {
  position: relative;
  backdrop-filter: blur(1px) brightness(150%);
  border: 1px inset var(--cl1);
  box-shadow: 0px 10px 15px 1px var(--cl9);
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  z-index: 0;
}

.imgPerfil {
  width: 10rem;
}

@media screen and (min-width: 768px) {
  .imgPerfil {
    width: 13rem;
  }

  .wrapperHero::after,
  .wrapperHero::before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: var(--cl10);
    z-index: -5;
    opacity: 0.5;
    z-index: -1;
  }

  .wrapperHero::after {
    top: -1.5rem;
    left: -1.5rem;
    border-radius: 0.5rem 0.5rem 100% 0.5rem;
  }

  .wrapperHero::before {
    bottom: -1.5rem;
    right: -1.5rem;
    border-radius: 100% 0.5rem 0.5rem 0.5rem;
  }
}
