.textContact {
  text-align: justify;
}

.textAreaForm {
  resize: none;
}

.infoContactStyle {
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../src/assets/img_contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.iconsSocial {
  position: relative;
  font-size: 3rem;
  padding: 0.1px;
  border: 0.1px solid transparent;
}

@media screen and (min-width: 768px) {
  .figureContact {
    max-width: 15rem;
  }

  .containerStyleContact {
    background-color: var(--cl10);
  }
}
